header {
  background-color: #ff0000;
  height: 70px;
  width: 100%;
  color: #fff;
  border-bottom: 1px splid #ccc;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-position: 20px center;
}
